PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/funnyapp_db

JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=mediaflows_3e1cd23a-3011-4263-aec6-b836f27ba68f
CLOUDINARY_API_KEY=833839298154438
CLOUDINARY_API_SECRET=QZK1nyFcov8U9ZpJF6xUZjCwWrU

FRONTEND_URL=http://localhost:5173
